<%= render 'shared/page_title',title: "#{@chef.chefname}'s profile" %>

<div align="center">
    <%= gravatar_for @chef, size: 200 %></div>

<!-- <hr>    --> 
<br>
<%if @chef.recipes.count==0 %>
<h2 align="center">no recipe to show</h2>
<%else%>
<h2 align="center"> <%= @chef.chefname.capitalize %>'s Recipes</h2>
<%end%>

<%= render 'recipes/recipies',obj:@chef.recipes %>