<!-- using HTML like a simple function and sending TITLE as a parameters -->
<%= render 'shared/page_title',title: "showing all recipies" %>

<!--  -->


<div align="center">
  <%= will_paginate %>
</div>

<%=render 'recipies' ,obj: @recipes %>  
 
 
<div align="center">
  <%= will_paginate %>
</div>