<!-- CHECK LECTURE 140 to understrand the upper command...basically it is a methood ..MANY TO MANY unable to do the standard way -->
<!-- CHeck _recipies.html.erb in 'recipes' folder -->


<span class="badge"><%= link_to ingredient.name,  ingredient_path(ingredient) %>   </span>



<!-- CHECK LECTURE 140 to understrand the upper command...basically it is a methood ..MANY TO MANY unable to do the standard way -->