@import "bootstrap";


.navbar_custom {
    background-color: darkred;
}



.jumbotron {
  margin-top:2%;
  background-image: asset-url('image.jpg');
  background-size: cover;
  height: 300px;
}

.jumbotron h1{
	color :white;

}

.jumbotron h2{
  color :white;

}


.random{
	color :white
}



#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.description {
  margin-top: 0;
} 

.cancel{
    margin: 0,auto;
    width: 50%;
}

.recipe-actions {
  padding-top: 5px;
  a {
    color: #fff;
  }
}

.thumbnail{
 margin-top: 10%;
}


.navbar-light .navbar-nav .nav-link {
    color: #ffffff;

}

